**/..module-common.o.cmd
**/.Module.symvers.cmd
**/.main.ko.cmd
**/.main.mod.cmd
**/.main.mod.o.cmd
**/.main.o.cmd
**/.module-common.o
**/.modules.order.cmd
**/Module.symvers
**/*.ko
**/*.mod
**/*.mod.c
**/*.mod.o
**/*.o
**/modules.order
