ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface",
ATTR{bInterfaceClass}=="03", ATTR{bInterfaceSubClass}=="01",
ATTR{bInterfaceProtocol}=="01", RUN+="/sbin/modprobe usb"
